
.w-100{
  height: 100vh;
}

.carousel-inner .carousel-item{
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;

}
.carousel-inner .carousel-caption{
   top: 200px;
 }
 .carousel-inner .carousel-caption h4{
   font-size: 50px;
   text-transform: uppercase;

 }
 .carousel-inner .carousel-caption h5{
   font-size: 35px;
   text-transform: uppercase;
   letter-spacing: 2px;
     line-height: .5;
   margin-top: 10px;
   font-family: 'Merienda One', cursive;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
position: relative;

 }
 .carousel-inner .carousel-caption span{
   color: #ff3300;
   font-weight: bold;
 }
.carousel-inner .carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  color: #fff;

  }
 .carousel-inner .carousel-caption a{
   text-transform: uppercase;
   background: #ff3300;
   padding: 10px 30px;
   display: inline-block;
   color: #fff;
   margin-top: 15px;
  border-radius: 25px;
  transition: background 0.9s;
  text-decoration: none;
 }
 .carousel-inner .carousel-caption a:hover{
    background: #1a66ff;
 }
.navbar{

background-color: transparent;
}
.navbar.scrolled{
  background: #28333F  ;
}

 .navbar-nav a{
font-family: 'Poppins', sans-serif;
   font-size: 18px;
   text-transform: uppercase;
   font-weight: bold;
   position: relative;


 }
 .navbar-nav a:before{
   content: " ";
   position: absolute;
   top: 100%;
   left: 0;
   width: 0%;
   height: 2px;
   border-bottom: 2px solid #ff3300;
   transition: all 0.4s linear;
 }
 .navbar-nav a:hover::before{
 width: 100%;
 }

#navbar-brand{
   font-size: 25px;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing:2px;
   color: #fff;
 }
#navbar-brand span{
   color: red;

}
 .navbar-light .container-fluid .navbar-nav .active>.nav-link, .navbar-light
.navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
   color: #FF5733 ;
}

.navbar-light .container-fluid .navbar-nav .nav-link{
  color: #fff ;
}
.navbar-nav{
  text-align:center;
}
.nav-link{
  padding: .2rem 1rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav
.nav-link:hover{
  color: #ff3300 !important;
}


#carouselExampleIndicators{
  animation-duration: 5s;
}
.carousel-indicators .active{
 background-color: #ff3300;

}


@media only screen and (max-width: 768px){
.navbar-collapse{
    background: rgba(0, 0, 0, 0.5);
  }
.navbar .container-fluid .navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
    position: righ;
  }
#navbar-brand{
    font-size: 18px;
    padding: 5px 15px;
  }
    

  .carousel-inner .carousel-caption a{
   text-size: 15px;
    padding: 5px 15px;

  }
  .carousel-inner .carousel-caption h5{
    font-size: 25px;
}
    .carousel-inner .carousel-caption{
       top: 200px;
     }
     .carousel-inner .carousel-caption h4{
       font-size: 35px;
   }
}

@media only screen and (min-width: 769px){

  .navbar .container-fluid .navbar-toggler{
      padding: 1px 5px;
      font-size: 18px;
      line-height: 0.3;
      background: #fff;
      position: righ;
    }
  #navbar-brand{
      font-size: 25px;
      padding: 5px 15px;
    }


    .carousel-inner .carousel-caption a{
     font-size: 15px;
    }
    .carousel-inner .carousel-caption a{
     text-size: 15px;
      padding: 5px 15px;

    }


}
